#sidebar ul.nav-pills li > ul {
	display: none;
}

#sidebar ul.nav-pills li.active > ul {
	display: block;
}
#sidebar ul.nav-pills > li > ul > li > a, #sidebar ul.nav-pills > li > ul > li div.input-group {
	padding-left: 50px;
}

#sidebar ul.nav-pills > li > a:hover {
	cursor: pointer;
}

.data-actions {
	text-align: right;
}

.data-actions .btn {
	transition: all .4s ease-out;
}

#footer {
	text-align: center;
	padding: 15px 0;
}

#footer a {
	color: #000;
}

.projects-actions {
	text-align: right;
}

.delete-client {
	display: none;
	float: right;
}

#sidebar ul.nav-pills li > a:hover > i.delete-client {
	display: inline-block;
}

#client-add {
	margin-top: 10px;
}

form.client-add {
	margin-top: 10px;
}
