#sidebar ul.nav-pills li > ul {
	display: none;
}

#sidebar ul.nav-pills li.active > ul {
	display: block;
}
#sidebar ul.nav-pills > li > ul > li > a, #sidebar ul.nav-pills > li > ul > li div.input-group {
	padding-left: 50px;
}

.data-actions {
	text-align: right;
}
